---
import { Button } from "@/components/ui/button";
import RootLayout from "../layouts/root-layout.astro";
import App from "@/app";
---

<RootLayout>
  <div class="w-full max-w-screen-lg mx-auto py-12">
    <App client:load />
  </div>
</RootLayout>
