---
import { Button } from "@/components/ui/button";
import RootLayout from "../layouts/root-layout.astro";
import App from "@/app";
---

<RootLayout>
  <div class="w-full max-w-screen-sm mx-auto py-12 px-4 flex gap-8 flex-col sm:flex-row items-center">
    <App client:load />
    <!-- <Button className="w-full">
      Click me
    </Button> -->
  </div>
</RootLayout>
